/* COMMON */
.container {
  max-width: 70%;
  margin: 0 auto;
  text-align: center;
}

.second_section,
.fourth_section {
  background-color: #f9f9f9;
}

h1 {
  padding-bottom: 2vh;
}
img {
  height: 200px;
}
h3 {
  padding: 3vh;
}

.first_section {
  padding: 10vh 0;
}
.third_section {
  height: 20vh;
}
.fourth_section img {
  height: 250px;
  color: white;
  background-color: #428bca;
  border-radius: 50%;
  padding: 20px;
  margin-top: 40px;
}
.fourth_section p {
  padding-bottom: 1vh;
  margin-bottom: 10vh;
  border-bottom: 1px solid grey;
}
#last_p {
  padding-bottom: 0;
  margin-bottom: 0;
  border-bottom: 0 white;
}
@media screen and (max-width: 768px) {
  .first_section,
  .fourth_section {
    background-color: #f2f2cd;
  }
  .second_section {
    background-color: white;
  }
}

@media screen and (max-width: 768px) {
   h3 {
    padding: 0;
  }
  .first_section {
    padding-bottom: 0;
  }
  .first_section p {
    padding-bottom: 3vh;
  }
  .second_section {
    padding: 3vh 0;
  }
  .second_section img {
    padding-top: 3vh;
  }
  .third_section {
    display: none;
  }
  .fourth_section {
    padding-top: 3vh;
  }
